* { padding: 0; margin: 0; }
li { list-style: none;margin-bottom: 10px; }
#box {
        width: 450px;
        padding: 10px;
        border: 1px solid #ccc;
        background: #f4f4f4;
        margin: 0 auto; }
#ul { margin-bottom: 10px; }
#ul li { padding: 5px 0; }
#ul .title {
        width: 380px;
        height: 30px;
        padding: 0 10px;
        border: 1px solid #ccc;
        line-height: 30px;
        font-size: 14px;
}
#ul textarea {
        width: 380px;
        height: 100px;
        line-height: 20px;
        padding: 5px 10px;
        border: 1px solid #ccc;
        font-size: 14px;
        overflow: auto;
        vertical-align: top; }
#ul .btn {
        border: none;
        width: 100px;
        height: 30px;
        border: 1px solid #ccc;
        background: #fff;
        color: #666;
        font-size: 14px;
        position: relative;
        left: 42px; }
/*#message_text { display: none; }*/
#message_text h2 {
        font-size: 14px;
        padding: 6px 0 4px 10px;
        background: #ddd;
        border-bottom: 1px solid #ccc; }
#message_text li {
        background: #f9f9f9;
        border-bottom: 1px solid #ccc;
        color: #666;
        overflow: hidden; }
#message_text h3 {
        padding: 10px;
        font-size: 14px;
        line-height: 24px;
}
#message_text p {
        padding: 0 10px 10px;
        text-indent: 28px;
        line-height: 20px;
}