
#qw{
    width:400px;
	height:200px;
	border-radius:100% 100%/0  200% ;
	box-shadow:15px 15px 16px 15px red;
   }
.qwe{
	 height:200px;
	 width:200px;
	 border-radius:50%;
	 background-color:black;
	 margin:auto;
	 overflow:hidden;
    }
#qwer{
	  height:20px;
	  width:20px;
	  border-radius:100%;
	  background-color:white;
	  margin:40px 40px;
     }

