*{font-size:50px;}


p span:hover{background-color:green;}
#box:hover span{background-color:green;}
li:hover{background:yellow;}
li:hover a{color:red;}
a:active{background-color:purple;}
a:focus{background-color:red}