<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/mobile.css">
    <title>移动端豆瓣</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                </button>
                <a class="navbar-brand" href="mobile.html"></a>
                <ul>
                    <li class="li-1"><a href="#" style="color: rgb(35, 132, 232)">电影</a></li>
                    <li class="li-2"><a href="#" style="color: rgb(159, 120, 96)">图书</a></li>
                    <li class="li-2"><a href="#" style="color: rgb(228, 168, 19)">广播</a></li>
                    <li class="li-2"><a href="#" style="color: rgb(42, 184, 204)">小组</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="page">
        <div class="card">
            <section id="movie-showing">
                <header>
                    <h2>影院热映</h2>
                    <a href="#">更多</a>
                </header>
                <div class="section-content">
                    <ul class = "items">
                        <li class="item item__movie">
                            <a href="www.douban.com/movie/subject/11803087?refer=home">
                                <div class="item-poster" style="background-image: url(https://qnmob2.doubanio.com/view/movie_poster_cover/lpst/public/p2459944375.jpg?imageView2/0/q/80/w/9999/h/200/format/jpg)"></div>
                                <span class="item-title">异形：契约</span>
                                <div class="item-rating">
                                    <div class="rank">
                                        <span class="rating-stars" data-rating="3.7"><span class="rating-star rating-star-small-full"></span><span class="rating-star rating-star-small-full"></span><span class="rating-star rating-star-small-full"></span><span class="rating-star rating-star-small-full"></span><span class="rating-star rating-star-small-gray"></span></span> <span>7.4</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
            <section id="movie_free_stream"></section>
            <section id="movie_latest"></section>
        </div>
    </div>
</div>
</body>
<!--<script src=="http://apps.bdimg.com/libs/underscore.js/1.7.0/underscore-min.js" charset="utf-8"></script>-->
<script src="js/jquery.js"></script>
<script src="js/underscore-min.js"></script>
<script src="js/bootstrap.min.js"></script>

<script type="text/templete" id = "templete">
        <li class="item item__movie">
            <a href="www.douban.com/movie/subject/11803087?refer=home">
                <div class="item-poster" style="background-image: url(<%= images.large %>)"></div>
                <span class="item-title"><%= title %></span>
                <div class="item-rating">
                    <div class="rank">
                        <span class="rating-stars" data-rating="<%= ((rating.average)/2).toFixed(1) %>">
                            <span class="rating-star rating-star-small-full"></span>
                            <span class="rating-star rating-star-small-full"></span>
                            <span class="rating-star rating-star-small-full"></span>
                            <span class="rating-star rating-star-small-full"></span>
                            <span class="rating-star rating-star-small-gray"></span>
                        </span>
                        <span><%= rating.average %></span>
                    </div>
                </div>
            </a>
        </li>
</script>
<script type="text/javascript" src="js/load.js"></script>
</html>