#main p{
    color: #ffaa22;
    width: 50%;
    .redbox{
        background-color: #ff0000;
        color: #000;
        width: 20px;
        height: 20px;
    }
}
$width: 5em;
#main {
    width: $width;
    height: 100px;
}
.error{
    border: 1px solid #000;
    border-color: #f00;
}
.seriousError{
    @extend .error;
    border-width:10px;
}